<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tsgamelib</title>
</head>
<body style="background-color: #303860;">
    <canvas width=960 height=600 id="gameCanvas" style="border: 1px solid #888; display: block; margin: auto; margin-top: 40px;" />
</body>
</html>
